.GamesHeader {
    text-align: center;
}

.Games {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:30px;
}
.GameAction {
    display: flex;
}

.Action {
    margin-left:50px;
    margin-bottom: 50px;;
}